.CardButton {
    margin: 1%;
    flex: 1;
    height: 35px;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 115%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid white 1px;;
}