body    {
    background-color: black;
}
div#GameViewport {
    background-color: black;
    width: 89%;
    height: 90vh;
    padding-top: 2%;
    overflow: hidden;
    display: inline-flex;
}

#ViewportLeft   {
    border: solid white 2px;
    width: 17.5%;
    margin-left: 2.5%;
    display: inline-block;
}

#ViewportRight  {
    border: solid white 2px;
    width: 90%;
    display: inline-block;
}