div#LogInOptions    {
    width: 650px;
    height: 30%;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    border-left: solid white 2px;
    display: flex;
    margin-left: 5%;
    margin-top: 25%;
}

div.LogInOption {
    flex: 1;
    padding-top: 20%;
    border-right: solid white 2px;
}

h2.LogInOptionText  {
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 5%;
}