#zoom-parent-container {
    margin-top: 7.5%;
    margin-left: 25%;
    height: 99%;
    z-index: 5;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 5s;
}

#zoom-video-element {
    min-height: 360px;
    min-width: 640px;
    height: inherit;
    width: inherit;
    /* REQUIRED - handle flipping of ZoOm interface.  users of selfie-style interfaces are trained to see their mirror image */
    transform: scaleX(-1);
    z-index: 5;
    border: solid white 1px;
}

#zoom-interface-container {
    position: absolute;
    z-index: 5
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
