button#beginZoomSession {
    margin-left: 25%;
    min-width: 640px;
    width: 655px;
    height: 50px;
    display: block;
    border-style: none;
    background-color: black;
    color: white;
    border: solid white 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#LogInPage   {
    width: 100%;
    height: 100vh;
}

#poweredBy  {
    color: white;
    float: right;
    position: bottom;
    margin-top: 20%;
    margin-right: 2.5%;
}